altair
fpdf
markdown-it-py
matplotlib
MarkupSafe
mdurl
mpmath
networkx
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
numpy
opencv-python-headless
packaging
pandas
Pillow
pkgutil-resolve-name
plotly
protobuf
psutil
py-cpuinfo
pyarrow
pydeck
Pygments
Pympler
pyparsing
python-dateutil
pytube
pytz
pytz-deprecation-shim
PyYAML
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
shutil
six
smmap
streamlit==1.26.0
sympy
tenacity
toml
toolz
torch
torchvision
tornado
tqdm
triton
typing-extensions
tzdata
tzlocal
ultralytics
urllib3
validators
watchdog
yolov5
zipp
